<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages>
        <controls>
          <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
            assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </controls>
      </pages>
    </system.web>
  <appSettings>
    <add key="DirFotos" value="C:\MgtS\AccessEngine\CardholderImages\"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.60501.0" newVersion="4.1.60501.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlSanitizationLibrary" publicKeyToken="d127efab8a9c114f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- Conexão GrupoOrion Desenvolvimento-->
    <add name="Horizon" connectionString="Server=forsrp264\BIS_ACE; Database=hzSolar; User Id=sa; password=w#YWkwFOYStKM" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
